#about-jumbotron
{
    height: 40vh;
    background: #000 url("/images/Worlds2018/IMG_6460.jpg") no-repeat center;
    background-size: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-filter: brightness(.4);
    filter: brightness(.4);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
}

#jumbo-wrapper
{
    position: relative;
}

#index-about
{
    width: 100vw;
    height: 15vh;
    padding-top: 3.5vh;
}

.display-image
{
    width: 25vmax;
    padding: 10px;
}

